#include <WINVER.H>

#include <NTVERP.H>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NT Kernel & System"
#define VER_INTERNALNAME_STR        "ntoskrnl.exe"

#include "COMMON.VER"

#include "bugcodes.rc"
